@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.material-icons.md-48 { font-size: 48px; }

body, select, textarea {
    margin:0;
    padding:0;
    font-size: 1em; 
    font-family: 'Asap Condensed', sans-serif;
    color: var(--text1); 
    background-color: var(--brand);
}

#evalarea {
    grid-area: evalarea;
    height: 2.5vh;
    background-color: var(--surface1);
    position: relative;
}
#evalbar {
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: var(--surface3);
    transition: width 0.1s;
}
#eval_white {
    position: absolute;
    text-align: left;
    vertical-align: middle;
    box-sizing: border-box;
    padding-left: 1em;
    height: 100%;
    width: 100%;
}
#eval_black {
    position: absolute;
    text-align: right;
    vertical-align: middle;
    box-sizing: border-box;
    padding-right: 1em;
    height: 100%;
    width: 100%;
}

#opening_games { 
    grid-area: opening_games;
}
#opening_moves { grid-area: opening_moves; }
#myBoard { grid-area: myBoard; }
#buttons { grid-area: buttons; }
#info {grid-area: info;}
#opening_name {
    grid-area: openingName;
    height: 9em;
    text-align: center;
    background-color: var(--brand);
}
#main_opening_name {
    font-size: 5em;
}
#variant_opening_name {
    font-size: 2em;
}
.page-grid {
    display: grid;
    grid-template-areas:
        'openingName'
        'evalarea'
        'myBoard'
        'buttons'
        'info'
        'opening_games'
        'opening_moves';
    grid-gap: 0px;
    padding-bottom: 5px;
    margin: auto; 
    width: min(80vh,100vw);
}

#buttons {
    margin: auto;
}

button {
    background-color:var(--surface3);
    border: none;
    color: var(--text1);
    font-size: 10em;
    cursor: pointer;
}
  
/* Darker background on mouse-over */
button:hover {
    background-color: var(--surface4);
}